@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kodchasan";
  src: url("/fonts/Kodchasan-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Optional: Custom CSS variable for the font */
:root {
  --font-kodchasan: "Kodchasan", sans-serif;
}
